.page {
    width: 780px;
    display: flex;
    margin: auto;
    font-family: 'Lato', 'Calibri', sans-serif;
    font-size: 16px;
    box-shadow: 2px 3px 4px black;
}

/* coté droit */

.right {
    background-color: #494141;
    color: white;
}

.container2 {
    margin: 20px;
}

.top {
    background-color: white;
    color: black
}

.bottom {
    padding: 0 10px;
}

.title {
    font-family: 'Oswald', 'Calibri', sans-serif;
    text-transform: uppercase;
    margin-top: 0;
}

.top .title {
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

.description {
    text-align: justify;
}

.about, .training, .production, .jobs, .card{
    border: solid 1px white;
    margin-bottom: 20px;
}

.card .title {
    background-color: white;
    color: black;
    padding: 2px 5px;
}

.card p {
    padding: 0 10px;
}

.production .card p {
    padding-left: 10px;
}

.production .title {
    text-transform: none;
    margin-bottom: 0;
}

.production .top {
    margin-bottom: 20px;
}

.liste {
    padding: 10px 20px;
}

.location {
    margin-bottom: -10px;
}

/* coté gauche */

.left {
    background-color: #f1f1f1;
    flex-basis: 115%;
    padding: 15px;
}

img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.name {
    font-size: 18px;
}

.card-l {
    margin-bottom: 50px;
}

.card-l .title {
    margin-top: 20px;
    margin-bottom: 0;
}

.card-l .p-left {
    margin-top: 0;
}

.p-left {
    padding: 0px 10px;
}

li {
    list-style-position:unset;
}