.page {
    width: 780px;
    display: flex;
    margin: auto;
    font-family: 'Lato', 'Calibri', sans-serif;
    font-size: 16px;
}

.left {
    background-color: #f1f1f1;
    flex-basis: 50%;
    padding: 15px;
}

.right {
    background-color: #494141;
    color: white;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container2 {
    margin: 20px;
}

.top {
    background-color: white;
    color: black
}

.bottom {
    padding: 0 10px;
    text-align: justify;
}

.title {
    text-transform: uppercase;
    margin-top: 0;
}

.top .title {
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

.about, .training, .production, .jobs, .study{
    border: solid 1px white;
    margin-bottom: 20px;
}

.study .title {
    background-color: white;
    color: black;
    padding: 2px 5px;
}

.study p {
    padding: 0 10px;
}

.production .study p {
    padding-left: 10px;
}

.production .title {
    text-transform: none;
    margin-bottom: 0;
}

.production .top {
    margin-bottom: 20px;
}

.liste {
    padding: 10px 20px;
}